@import './base.css';

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #008081;
}

button {
  border-top: 0.2rem solid #E3DEE4;
  border-left: 0.2rem solid #E3DEE4;
  border-right: 0.2rem solid #000;
  border-bottom: 0.2rem solid #000;
  background: #c0c0c0;

  &.active {
    border-top: 0.2rem solid #000;
    border-left: 0.2rem solid #000;
    border-right: 0.2rem solid #E3DEE4;
    border-bottom: 0.2rem solid #E3DEE4;
  }
}

a, button {
  text-decoration: none;
  color: #000;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media screen and (max-width: 424px) {
  html {
    font-size: 9px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 12px;
  }
}
